<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater view</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Montserrat;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Theater</th>
        <th scope="col">Number of rows</th>
        <th scope="col">Number of seats per row</th>
        <!--<th scope="col">Additional features</th>-->
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="theater : ${theaters}">
        <td th:text="${theater.getId()}"></td>
        <td th:text="${theater.getTheaterName()}"></td>
        <td th:text="${theater.getNumberOfRows()}"></td>
        <td th:text="${theater.getSeatsPerRow()}"></td>
        <td>
            <form class="mt-2" style="display: inline" th:action="@{/manage/delete-theater/{id}(id=${theater.getId()})}" method="post"><button type="submit" class="btn btn-primary">Delete</button></form>
        </td>
        <td><a class="btn btn-success" th:href="@{'/edit-theater/' + ${theater.id}}">Edit</a></td>
    </tr>

    </tbody>

</table>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>



