<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater view</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Montserrat;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit theater</h1>
        <p class="lead">

        <form style="display: inline" th:action="@{/manage/edit-theater/{id}  (id = ${theater.id})}" method="post" th:object="${theater}">
            <div class="form-group">
                <label for="theater">theater</label>
                <input type="text" class="form-control" id="theater" placeholder="Enter theater title example: 'Blue'" th:field="${theater.theaterName}">
            </div>
            <div class="form-group">
                <label for="number of rows">number of rows</label>
                <input type="number" class="form-control" id="number of rows" placeholder="Number of rows" th:field="${theater.numberOfRows}">
            </div>
            <div class="form-group">
                <label for="number of seats per row">number of seats per row</label>
                <input type="number" class="form-control" id="number of seats per row" placeholder="Number of seats per row" th:field="${theater.seatsPerRow}">
            </div>

            <button type="submit" class="btn btn-primary">Save theater</button>
        </form>
        <form class="mt-2" style="display: inline" th:action="@{/manage/delete-theater/{id}(id=${theater.getId()})}" method="post"><button type="submit" class="btn btn-primary">Delete theater</button></form>
        </p>
    </div>
</div>