<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<div class="container">
    <div th:object="${booking}">
        <h6 style="font-size: 25px">Booking Accepted</h6>
        <div>
            <div>
                <p style="font-size: 15px" th:text="${tickets.size() + ' Tickets'}"></p>
                <p style="font-size: 15px; color: dimgrey" th:text="'Booking Code: ' + ${booking.bookingCode}"></p>
            </div>
        </div>

        <table>
            <tr>
                <th>Seat</th>
                <th>Row</th>
                <th>Nr</th>
            </tr>
            <tr th:each="ticket, itrNum : ${booking.tickets}">
                <td th:text="${itrNum.count}"></td>
                <td th:text="${ticket.seatRow}"></td>
                <td th:text="${ticket.seatNr}"></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>