<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <h1 class="text-center mt-5 mb-5">Choose Seat</h1>
    <div class="container text-center">
        <form th:action="@{/booking/choose-seat}" method="post">
        <table class="table">
            <thead>

            <tr>
                <td>#</td>
                <td th:each="j: ${#numbers.sequence(1, seatsPrRow)}">
                    <span th:text="${j}"></span>
                </td>

            </tr>
            </thead>

            <tbody>
                <tr th:each="i: ${#numbers.sequence(0, rows - 1)}">
                    <td th:text="${i + 1}"></td>
                    <td th:each="j: ${#numbers.sequence(0, seatsPrRow - 1)}">
                        <input type="checkbox" th:name="${(i+1) + '-' + (j+1)}" />
                    </td>
                </tr>
            </tbody>

        </table>

            <button type="submit" class="btn btn-primary mt-5 mb-5">Book Tickets</button>
        </form>

    </div>
</body>
</html>