<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <h1 class="text-center mt-5 mb-5">Choose Seat</h1>
    <div class="container text-center">
        <table class="table">
            <thead>

            <tr>
                <td></td>
                <td th:each="seat, iterStat : ${seats}" th:remove="tag">
                    <div th:text="${seat.getNr()}"></div>
                    <div th:text="${iterStat.last}"></div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>A</td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>

            </tr>
            <tr>
                <td>B</td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>

            </tr>
            <tr>
                <td>C</td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>

            </tr>
            <tr>
                <td>D</td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</body>
</html>