<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Choose Seat</h1>
<div id="seat" th:each="seat:${seats}">
    <p id="seatNr" th:style="'display:' + 'inline-block'" th:text="${seat.getNr()}"></p>
    <p id="seatRow" th:style="'display:' + 'inline-block'" th:text="${seat.getRow()}"></p>
</div>
<form action="">
    <input  type="text" value="" placeholder="nr">
    <input  type="text" value="" placeholder="row">
</form>
</body>
</html>