<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Delete movie play</h1>
        <p class="lead">

        <form th:action="@{/delete-movie-play/}" method="post">
            <div class="form-group">
                <label for="movieId">Movie Id</label>
                <input type="number" class="form-control" name="id" id="movieId" placeholder="Enter movie id to delete">
            </div>
            <button type="submit" class="btn btn-primary">Delete movie play</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>

</body>
</html>
</body>
</html>