<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add new movie play</h1>
        <p class="lead">

        <form th:action="@{/manage/add-movie-play}" method="post" th:object="${moviePlay}">
          <!--  <div class="form-group">
                <label for="movieId">Movie Id</label>
                <input type="number" class="form-control" name="movieId" id="movieId" placeholder="Enter movie id">
            </div> -->
            <div class="form-group">
                 <label for="movieControl">Choose movie</label>
                <select  class="form-control" id="movieControl"  th:field="${moviePlay.movieId}">
                    <option th:each="movie : ${movies}" th:name="movieId" th:value="${movie.getId()}" th:text="${movie.getTitle()}"
                            </option>
                </select>
            </div>
            <div class="form-group">
                 <label for="theaterControl">Choose theater</label>
                <select  class="form-control" id="theaterControl"   th:field="${moviePlay.theaterId}">
                    <option th:each="theater : ${theaters}" th:name="theaterId" th:value="${theater.getId()}" th:text="${theater.getTheaterName()}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Play Start</label>
                <input type="datetime-local" class="form-control" name="play-start" id="date" placeholder="Enter start time: 22/01/2019 20:00">
            </div>



            <button type="submit" class="btn btn-primary">Add movie</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>



        </p>
    </div>

</body>
</html>