<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Montserrat;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit movie play</h1>
        <p class="lead">

        <form th:action="@{/edit-movie-play}" method="post" th:object="${play}">
            <div class="form-group">
                <label for="movieControl">Movie</label>
                <select  class="form-control" id="movieControl"  th:field="${play.movieId}">
                    <option th:each="movie : ${movies}" th:name="movieId" th:value="${movie.getId()}" th:text="${movie.getTitle()}"
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="theaterControl">Choose theater</label>
                <select  class="form-control" id="theaterControl"   th:field="${play.theaterId}">
                    <option th:each="theater : ${theaters}" th:name="theaterId" th:value="${theater.getId()}" th:text="${theater.getTheaterName()}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Play Start</label>
                <input type="text" class="form-control" th:name="play-start" id="date" th:value="${play.getPlayStart()}" placeholder="Enter start time: 22/01/2019 20:00">
            </div>
            <input type="hidden" name="id" th:value="${play.id}">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>
        </p>
    </div>
</div>


</body>
</html>